/* =============================================================================
   WordPress Class Styling
   ========================================================================== */

.alignnone {
	margin: $padding $margin $margin 0;
}

.aligncenter, div.aligncenter {
	display:block;
	margin: 0 auto $padding auto;
}

.alignright {
	float:right;
	margin: 0 0 $margin $margin;
}

.alignleft {
	float:left;
	margin: 0 $margin $margin 0;
}

.aligncenter {
	display: block;
	margin: 0 auto $padding auto;
}

a img.alignright {
	float:right;
	margin: 0 0 $margin $margin;
}

a img.alignnone {
	margin: 0 $margin $margin 0;
}

a img.alignleft {
	float:left;
	margin: 0 $margin $margin 0;
}

a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto
}

img.alignnone,
img.alignright,
img.alignleft,
img.aligncenter {
	max-width: 100%;
	height: auto;
}

.wp-caption {
	background: #fff;
	border: $border solid $border_color;
	max-width: 96%; /* Image does not overflow the content area */
	padding: $padding;
	text-align: center;
}

.wp-caption.alignnone {
	margin: 0 $margin $margin 0;
}

.wp-caption.alignleft {
	margin: 0 $margin $margin 0;
}

.wp-caption.alignright {
	margin: 0 0 $margin $margin;
}

.wp-caption img {
	border: 0 none;
	height: auto;
	margin:0;
	max-width: 98.5%;
	padding:0;
	width: auto;
}

.wp-caption p.wp-caption-text {
	font-size: 85%;
	margin:0;
	padding:0 $padding / 2 $padding;
}


.gallery {

	.gallery-item {

		.gallery-icon {
			margin: 0px 0px $padding;

			img {
				border: $padding solid #fff !important;
				@include shadowed;
			}

		}

		.gallery-caption {
			font-style: italic;
		}

	}

}


/* =============================================================================
   Gravity Forms
   ========================================================================== */

body .gform_wrapper {
	width: 100%;
	margin: 0px;
	padding: 0px;
	
	ul, ol {
		padding: 0px 0px $padding;
	}
	
	.gfield {
		margin: 0px;
		padding: 0px;

		input {
			line-height: normal;
			font-size: 100%;
			margin: 0;
			vertical-align: baseline;
			*vertical-align: middle;
		}

	}

	.gsection .gfield_label, .gfield label.gfield_label { @extend label; }
	
	h2.gsection_title { @extend h2; }

	h3.gform_title { @extend h3; }

	.ginput_container label {
		font-size: 85%;
		font-style: italic;
		letter-spacing: normal;
		font-weight: normal;
	}
	
}